In [61]:
import pandas as pd
import numpy as np
mydata = np.array([[1,2,3,4],
                   [5,6,7,8],
                   [9,10,11,12],
                   [13,14,15,16]]
                 )

df = pd.DataFrame(mydata)
df.index=["Row 1","Row 2","Row 3","Row 4"]
df.columns=["Col 1", "Col 2", "Col 3", "Col 4"]
print(df)

print(df["Col 1"])
print(df["Col 2"]["Row 3"])
print(df["Col 2"][2])
# This does not work
# print(df[1][2])

       Col 1  Col 2  Col 3  Col 4
Row 1      1      2      3      4
Row 2      5      6      7      8
Row 3      9     10     11     12
Row 4     13     14     15     16
Row 1     1
Row 2     5
Row 3     9
Row 4    13
Name: Col 1, dtype: int64
10
10

In [58]:
# To select after the first row and all columns, use `df[1:,:]`.
pd1= pd.DataFrame(
    data=mydata[1:,:]
)
print(pd1)

# To select all rows and after the second column, use `df[:,2:].
pd2= pd.DataFrame(
    data=mydata[:,2:]
)
print(pd2)

# To select after the first row and after the second column, use `df[1:,2:]`.
pd3= pd.DataFrame(
    data=mydata[1:,2:]
)
print(pd3)

    0   1   2   3
0   5   6   7   8
1   9  10  11  12
2  13  14  15  16
    0   1
0   3   4
1   7   8
2  11  12
3  15  16
    0   1
0   7   8
1  11  12
2  15  16

In [63]:
from scipy.stats import chi2_contingency
tshirts = pd.DataFrame(
    [
        [48,22,33,47],
        [35,36,42,27],
        [30,40,25,34]
    ],
    index=["A","B","C"],
    columns=["Balck","White","Red","Blue"])
tshirts

   Balck  White  Red  Blue
A     48     22   33    47
B     35     36   42    27
C     30     40   25    34

In [64]:
chi2_contingency(tshirts)

(18.288665039662153,
 0.005549881012168249,
 6,
 array([[40.45346062, 35.08353222, 35.79952267, 38.66348449],
        [37.75656325, 32.74463007, 33.41288783, 36.08591885],
        [34.78997613, 30.17183771, 30.7875895 , 33.25059666]]))